doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Clue-Less Game
        script(src='/socket.io/socket.io.js')
        script(src='../static/jquery-3.3.1.min.js')
        script(src='../static/bootstrap.min.js')
        link(rel='stylesheet' href='../static/bootstrap.min.css')
        link(rel='stylesheet' href='../static/index.css')
    body
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.fixed-top(role='navigation')
            .container
                a.navbar-brand(href='/') 404 Name Not Found
                button.navbar-toggler.border-0(type='button' data-toggle='collapse' data-target='#exCollapsingNavbar') &#9776
                div.collapse.navbar-collapse#exCollapsingNavbar
                    ul.nav.navbar-nav.flex-row.justify-content-between.ml-auto
                        li.nav-item.dropdown.active
                            a.nav-link.dropdown-toggle(href='' role='button' data-toggle='dropdown') #{username}
                            .dropdown-menu.dropdown-menu-right
                                a.dropdown-item(href='/logout') Logout
        #content
            #playersContainer
                .playerWrapper#scarletPlayer
                    img(src='../static/characters/miss_scarlet.png' width='50px')
                    label.playerLabel --------------
                .playerWrapper#mustardPlayer
                    img(src='../static/characters/col_mustard.png' width='50px')
                    label.playerLabel --------------
                .playerWrapper#whitePlayer
                    img(src='../static/characters/mrs_white.png' width='50px')
                    label.playerLabel --------------
                .playerWrapper#greenPlayer
                    img(src='../static/characters/mr_green.png' width='50px')
                    label.playerLabel --------------
                .playerWrapper#peacockPlayer
                    img(src='../static/characters/mrs_peacock.png' width='50px')
                    label.playerLabel --------------
                .playerWrapper#plumPlayer
                    img(src='../static/characters/prof_plum.png' width='50px')
                    label.playerLabel --------------
            #canvasWrapper
                if !isGameStarted
                    #overlay
                        button.btn.btn-secondary#startButton(onclick='startGame()' disabled) Start Game
                div.modal.fade#modalCharacterSelect(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Select character
                            .modal-body
                                .text-center
                                    label
                                        input(type='radio' name='characterSelect' value='0')
                                        img(src='../static/characters/miss_scarlet.png')
                                    label
                                        input(type='radio' name='characterSelect' value='1')
                                        img(src='../static/characters/col_mustard.png')
                                    label
                                        input(type='radio' name='characterSelect' value='2')
                                        img(src='../static/characters/mrs_white.png')
                                .text-center
                                    label
                                        input(type='radio' name='characterSelect' value='3')
                                        img(src='../static/characters/mr_green.png')
                                    label
                                        input(type='radio' name='characterSelect' value='4')
                                        img(src='../static/characters/mrs_peacock.png')
                                    label
                                        input(type='radio' name='characterSelect' value='5')
                                        img(src='../static/characters/prof_plum.png')
                            .modal-footer
                                button.btn.btn-primary(onclick='selectCharacter()') Continue
                div.modal.fade#modalPlayerCards(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Player's Cards (Not Disabled)
                            .modal-body
                                .text-center
                                    label
                                        input(type='radio' name='cardSelect' value='0' disabled=true)
                                        img(src='../static/characters/miss_scarlet.png')
                                    label
                                        input(type='radio' name='cardSelect' value='1' disabled=true)
                                        img(src='../static/characters/col_mustard.png')
                                    label
                                        input(type='radio' name='cardSelect' value='2' disabled=true)
                                        img(src='../static/characters/mrs_white.png')
                                    label
                                        input(type='radio' name='cardSelect' value='3' disabled=true)
                                        img(src='../static/characters/mr_green.png')
                                    label
                                        input(type='radio' name='cardSelect' value='4' disabled=true)
                                        img(src='../static/characters/mrs_peacock.png')
                                    label
                                        input(type='radio' name='cardSelect' value='5' disabled=true)
                                        img(src='../static/characters/prof_plum.png')
                                .text-center
                                    label
                                        input(type='radio' name='cardSelect' value='6' disabled=true)
                                        img(src='../static/rooms/kitchen.png')
                                    label
                                        input(type='radio' name='cardSelect' value='7' disabled=true)
                                        img(src='../static/rooms/ballroom.png')
                                    label
                                        input(type='radio' name='cardSelect' value='8' disabled=true)
                                        img(src='../static/rooms/conservatory.png')
                                    label
                                        input(type='radio' name='cardSelect' value='9' disabled=true)
                                        img(src='../static/rooms/dining_room.png')
                                    label
                                        input(type='radio' name='cardSelect' value='10' disabled=true)
                                        img(src='../static/rooms/billard_room.png')
                                    label
                                        input(type='radio' name='cardSelect' value='11' disabled=true)
                                        img(src='../static/rooms/library.png')
                                    label
                                        input(type='radio' name='cardSelect' value='12' disabled=true)
                                        img(src='../static/rooms/lounge.png')
                                    label
                                        input(type='radio' name='cardSelect' value='13' disabled=true)
                                        img(src='../static/rooms/hall.png')
                                    label
                                        input(type='radio' name='cardSelect' value='14' disabled=true)
                                        img(src='../static/rooms/study.png')
                                .text-center
                                    label
                                        input(type='radio' name='cardSelect' value='15' disabled=true)
                                        img(src='../static/weapons/candlestick.png')
                                    label
                                        input(type='radio' name='cardSelect' value='16' disabled=true)
                                        img(src='../static/weapons/knife.png')
                                    label
                                        input(type='radio' name='cardSelect' value='17' disabled=true)
                                        img(src='../static/weapons/pipe.png')
                                    label
                                        input(type='radio' name='cardSelect' value='18' disabled=true)
                                        img(src='../static/weapons/revolver.png')
                                    label
                                        input(type='radio' name='cardSelect' value='19' disabled=true)
                                        img(src='../static/weapons/rope.png')
                                    label
                                        input(type='radio' name='cardSelect' value='20' disabled=true)
                                        img(src='../static/weapons/wrench.png')
                            .modal-footer
                                button.btn.btn-primary(onclick='showCards()') Continue
                div.modal.fade#modalMoveSelect(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Move Character
                            .modal-body
                            .modal-footer
                                button.btn.btn-primary(onclick='movePlayer()') Continue
                div.modal.fade#modalMakeSuggestion(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Make Suggestion
                            .modal-body
                            .modal-footer
                                button.btn.btn-primary(onclick='makeSuggestion()') Continue
                div.modal.fade#modalRevealCard(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Reveal Card
                            .modal-body
                            .modal-footer
                                button.btn.btn-primary(onclick='revealCardSelect()') Continue
                div.modal.fade#modalMakeAccusation(role='dialog')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Make Accusation
                            .modal-body
                            .modal-footer
                                button.btn.btn-primary(onclick='makeAccusation()') Continue
                canvas#canvas
            #chatContainer
                #chatMessagesWrapper
                    p#chatMessages
                #chatInput
                    textarea#chatText(aria-label='Chat input text' cols='1' rows='2')
                    button.btn.btn-secondary#chatSend(type='submit' onclick='sendChat()') Send
            #usernamesAndGameButtonsContainer
                #usernamesWrapper
                    #usernames
                #timerWrapper
                    .text-center
                        #timer
                    .text-center seconds left
                #gameButtonsWrapper
                    .text-center
                        button.btn.btn-primary.action(type='submit' onclick='movePlayer()' disabled) MOVE
                    .text-center
                        button.btn.btn-primary.action(type='submit' onclick='makeSuggestion()' disabled) SUGGEST
                    .text-center
                        button.btn.btn-primary.action(type='submit' onclick='revealCard()' disabled) REVEAL
                    .text-center
                        button.btn.btn-primary.action(type='submit' onclick='makeAccusation()' disabled) ACCUSE
                    .text-center
                        button.btn.btn-primary.action(type='submit' onclick='endTurn()' disabled) DONE

        script(src='../static/client.js')
